* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(32, 32, 32);
}

#title {
  font-size: 50px;
  color: white;
  text-decoration: underline;
  padding: 10px;
  margin-top: 10px;
}

#board-size {
  width: 180px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: white;
  border: solid black 4px;
  color: black;
  font-size: 20px;
}

#board-size , ::placeholder {
  font-size: 20px;
  text-align: center;
  padding-left: 7px;
}

.buttons {
  height: 40px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: black;
  border: solid white 3px;
  color: white;
  font-size: 20px;
}

#generate-board {
  width: 100px;
}

#create-color {
  width: 150px;
}

#clear-board {
  width: 120px;
  margin-top: 2px;
}

#color-palette {
  width: 90%;
  text-align: center;
  margin: 10px auto;
}

.color {
  border: solid black 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

#pixel-board {
  line-height: 0;
  text-align: center;
}

.pixel {
  display: inline-block;
  background-color: white;
  border: solid black 1px;
  width: 40px;
  height: 40px;
}

#input-buttons {
  height: 60px;
  width: 90%;
  margin: auto;
}
